.slidercontainer{
  margin-top: 20px;
}

.featurestitle {
  background-color: #ff9900; /* Color de fondo deseado */
  color: #080808; /* Color de texto deseado */
  text-align: center; /* Alinea el texto al centro horizontalmente */
  padding: 5px 0; /* Espaciado superior e inferior para el título */
  border-radius: 20px;
}

.tittleh1{
  text-align: left;
  margin-left: 10px;
}

.tittleh2{
  text-align: left;
  margin-left: 10px;
}

.featuresexplanation {
 margin-top: 80px;
  padding: 20px; /* Espaciado interior para el contenido */
  text-align: right; /* Alinea el texto a la derecha horizontalmente */
  text-align: left; /* Alinea el texto a la izquierda dentro de featuresexplanation */
  margin: 10px 0; /* Espaciado entre párrafos */
}

.firstParagraph {
  font-size: 20px; /* Tamaño de fuente más grande para destacar */
  line-height: 1.5;
  color: #333; /* Cambia el color del texto según tus preferencias */
  margin-bottom: 10px; /* Margen inferior para separar del siguiente párrafo */
  text-align: left;
  margin-left: 10px;
}
/* Estilo para el contenedor de feature */
.featurecontainer {
  display: flex; /* Utilizar flexbox para organizar los elementos en fila */
  align-items: center; /* Centrar verticalmente los elementos en el contenedor */
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Estilo para la imagen dentro de feature */
.featureimg {
  max-width: 50%; /* Reducir el tamaño de la imagen al 50% */
  -webkit-mask-image: linear-gradient(to left, transparent, black); /* Agregar una máscara degradada desde la derecha hacia la izquierda */
  mask-image: linear-gradient(to left, transparent, black); /* Agregar una máscara degradada desde la derecha hacia la izquierda */
  border-radius: 40px;
  margin-left: 10px;
}

/* Estilo para el contenido (título y texto) dentro de feature */
.featurecontentintercambio {
  flex-grow: 1; /* Permitir que el contenido ocupe todo el espacio disponible */
  padding-left: 20px; /* Añadir espacio a la izquierda para separar la imagen del texto */
}

.featurecontenttorneos {
  flex-grow: 1; /* Permitir que el contenido ocupe todo el espacio disponible */
  padding-left: 20px; /* Añadir espacio a la izquierda para separar la imagen del texto */
}

/* Estilo para el título h2 */
.h2 {
  background: linear-gradient(to right, #ff9900, #ffcc00); /* Cambiar los colores según tus preferencias */
  display: inline-block; /* Para que el fondo de degradado se ajuste al contenido */
  padding: 5px 10px; /* Ajustar el espaciado según tus preferencias */
  border-radius: 5px; /* Agregar esquinas redondeadas al fondo */
  color: #fff; /* Cambiar el color del texto según tus preferencias */

}

.description{
  color: rgb(5, 5, 5);
  font-size: 20px;
  line-height: 2.0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.academicoffer {
  margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
  
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 20px; /* Ajusta el espaciado según tus preferencias */
  display: flex; /* Establece un diseño flexible para alinear la imagen y el texto */
  align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo para el contenedor de imagen y texto dentro de la oferta académica */
.academicoffercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

/* Estilo para las imágenes dentro de la oferta académica */
.academicofferimg {
  max-width: 50%; /* Reducir el tamaño de la imagen al 90% del tamaño original */
  display: block; /* Evita que la imagen tenga márgenes no deseados */
  margin: 0 auto 10px; /* Centra la imagen y agrega espacio inferior */
}

/* Estilo para el texto debajo de la imagen */
.academicoffertext {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con transparencia */
  padding: 10px; /* Ajusta el espaciado según tus preferencias */
  margin-top: 10px; /* Ajusta el margen superior según tus preferencias */
  border-radius: 5px; /* Agrega bordes redondeados al fondo */
  flex-grow: 1;
}

/* Estilo para los títulos dentro del texto debajo de la imagen */
.academicoffertexth3 {
  margin-top: 0; /* Elimina el margen superior del título */
}

/* Estilo para los párrafos dentro del texto debajo de la imagen */
.academicoffertextp {
  text-align: left;
  margin: 0; /* Elimina márgenes para un aspecto más limpio */
}

.inscriptions {
  background: linear-gradient(to right, #ff9900, #f3d24c); /* Cambiar los colores según tus preferencias */
  color: #080808;
  display: flex;
  justify-content: space-between; /* Alinea los elementos en los extremos opuestos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-top: 20px; 
  padding: 5px;
}

.inscriptionsTittle{
  flex-grow: 1;
}

.inscriptionsText{
  margin-left: 10px;
}

.registerButton {
  margin-top: 10px; 
  display: block;
  background-color: red;
  border-radius: 10px;
}

.registerLink {
  background-color: red; /* Cambia el fondo de color a rojo */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: white; /* Cambia el color del texto a blanco */
  padding: 10px 20px; /* Ajusta el espaciado según tus preferencias */
  border-radius: 5px; /* Agrega bordes redondeados */
  display: inline-block; /* Hace que el enlace se comporte como un bloque */
  
}

.registerLink:hover {
  background-color: darkred; /* Cambia el color de fondo al pasar el mouse */
}