.container {
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    background-image: url("../../Images/Imgen3.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh; 
    width: 96%;
    border-radius: 5px;
  }
  
  .content {
    position: absolute;
    top: 50%; /* Alinea el contenido en el centro vertical */
    left: 24%; /* Alinea el contenido en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el contenido en la pantalla */
    text-align: left;
    color: rgb(3, 3, 3); /* Cambia el color del texto según tus preferencias */
    padding: 20px; /* Añade un espacio interno alrededor del contenido */
    background-color: rgba(250, 248, 248, 0.5); /* Agrega un fondo semitransparente al contenido */
    max-width: 500px; /* Define el ancho máximo del contenido */
    max-height: 600px;
    border-radius: 10px;
    font-size: larger;
  }